.box {       
    box-sizing: content-box;
    padding: 4%;
    height: 5vh;
    background-color: #ffffff;
    border: 1px solid hsl(0, 0%, 0%);
    box-shadow: 1px 1px 6px #000000;
    margin: 1rem;
}

p {
    font: italic 15px arial; 
    text-align: center;
}