h1 {
    margin: -1px 0 0 0;
    background: #0a2b4c;
    color: white;
    font: italic bold 16px arial;
    padding: 4px 0;
    text-align: center;
}
p {
    font: italic 15px arial; 
    text-align: center;
}
div.main-box {
    box-sizing: content-box;
    padding: 2%;
    background-color: #ffffff;
    border: 1px solid hsl(0, 0%, 0%);
    box-shadow: 1px 1px 6px #000000;
    width: 100%;
    height: 100%;
    flex-basis: 40rem;
}