nav {
    position: sticky;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex: 3;
    background: #404a6f;
    width: 100%;
}
h1 {
    padding: 4px;
    margin: auto;
    font: 20px 'Alata';
}